@import url(https://fonts.googleapis.com/css?family=Nunito);
@charset "UTF-8";

/* #f8f9fa; */

body {
    margin: 0;
    padding: 0;
    background-color: #f3f3f3;
    font-family: "Barlow Semi Condensed", sans-serif;
}

/*************
* Start loader 
 *************/
#overlayer {
    position: fixed;
    z-index: 9999;
    background: white;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.loader {
    position: fixed;
    top: calc(50% - 20px);
    left: calc(50% - 20px);
    z-index: 99999;
    border: 6px solid #e3e5d2;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 2s linear infinite;
}

.loader {
    border-top: 6px solid #2978fb;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
/*************
* End loader 
 *************/
.error-msg {
    color: red;
}

.ml-10 {
    margin-left: 10px;
}

.not-found-container {
    margin: 100px auto 0;
    text-align: center;
    font-size: 1.4rem;
}

/*************
* Start tab container 
 *************/
.tab-container {
    margin: 30px 0;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:focus,
.nav-tabs > li.active > a:hover {
    border: 1px solid transparent;
}

.tab-content {
    background: #fff;
    padding-bottom: 30px;
}

.not-foun-msg {
    padding: 20px;
    text-align: center;
}

ul.live-container {
    margin: 0 0 30px;
    padding: 0;
}

ul.live-container li {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    border-bottom: 1px solid #e1dfdf;
}

ul.live-container li:hover {
    background-color: #e6e6e6f5;
}

.live-item {
    display: flex;
    flex-wrap: wrap;
    align-self: center;
    padding: 15px;
    flex-basis: 23%;
}

ul.live-container li > .live-item:nth-child(2) {
    flex-basis: 65%;
    justify-content: space-between;
    /* background-color: yellowgreen; */
}

ul.live-container li > .live-item:last-child {
    flex-basis: 10%;
    justify-content: flex-end;
    /* background-color: pink; */
}

ul.live-container li:last-child {
    border-bottom: none;
}

.match-circle {
    width: 50px;
    height: 50px;
    background: #2978fb;
    border-radius: 50%;
    z-index: 0;
}

.match-status {
    z-index: 1;
    max-width: 100px;
    min-width: 65px;
    border-radius: 0 10px 10px 0;
    margin-left: -40px;
    margin-top: 7px;
    padding: 0px 15px 0 0;
    height: 35px;
    text-indent: 13px;
    line-height: 3;
    color: #fff;
    font-size: 11px;
    font-weight: 600;
    text-transform: uppercase;
}

.status-Upcoming {
    background: #2978fb;
}

.status-Live {
    background: #198754;
}

.match {
    margin-top: 18px;
    margin-left: 30px;
}

.team-details {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
}

.team-details span {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-self: center;
    flex-basis: 25%;
}

.team-details span:nth-child(1) {
    justify-content: flex-end;
}

.team-details span:nth-child(5) {
    justify-content: flex-start;
}

.team-details span:nth-child(1),
.team-details span:nth-child(5) {
    flex-basis: 32%;
}

.team-details span:nth-child(2),
.team-details span:nth-child(4) {
    flex-basis: 10%;
}

.team-details span:nth-child(3) {
    flex-basis: 10%;
}

.country-logo {
    width: 40px;
    height: 40px;
    margin: 0;
}

.country-logo img {
    width: 100%;
}

.country-name,
.vs,
.start-time {
    font-weight: 500;
    font-size: 1.3rem;
    color: #31404b;
}

.country-name {
    flex-basis: 40%;
}

.venu-name {
    text-align: center;
    width: 100%;
    margin: 10px 0;
}

/*************
* End tab container 
 *************/
